// change the theme
$theme-colors: (
  "primary": #6e3d90,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.bg-light-purple {
  background-color: lighten(#6e3d90, 50%);
}
